:root {
  /* colors */
  --purple-color: #7026b9;
  --dark-purple-color: rgb(17, 8, 31);
  --text-white: #ffffff;
  --text-white-secondary: rgba(255, 255, 255, 0.8);
  --text-dark: #232129;
  --text-dark-secondary: #48434f;
  --faded-color: rgba(255, 255, 255, 0.1);
  --faded-purple-color: rgba(112, 38, 185, 0.1)
}
